<p>edit works!</p>

<div class="container">
    <label>Title:</label>
    <input type="text" class="form-control" value="{{Title}}" #x1 /><br>
    <label>Description:</label>
    <textarea class="form-control" value="{{Desc}}" #x2></textarea>
    <br>
    <select #x3 value="{{status}}">
        <option>Please Select Status</option>
        <option value="1">Open</option>
        <option value="2" disabled>In-Progress</option>
        <option value="3" disabled>Completed</option>
    </select>
    <br>
    <br>
    <button class="btn btn-primary"  (click)="update(x1.value,x2.value,x3.value)">edit</button>
    
</div>
